:host {
  display: block;
}

@media screen and (max-width: 639px) {
  header:has(#toggle:checked) #menu-icon {
    display: none;
  }

  header:has(#toggle:checked) #close-icon {
    display: inline-block;
  }

  header:has(#toggle:checked) #navigation {
    height: var(--menu-height, 8rem);
  }
}
